body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(22, 148, 231);
}
.form{
    width: 300px;
    padding: 32px;
    border-radius: 10px;
    background-color: white;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.form__input,.form__button{
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 20px;   
}
.form__title{
    text-align: center;
    margin: 0 0 32px 0;
    font-weight: normal;
}
.form__group{
    position: relative;
    margin-bottom: 32px;
}
.form__label{
    position: absolute;
    top:0;
    z-index: -1;
    color: #1a1111;
    transition: 0.3s;
}
.form__input{
    width: 100%;
    padding: 12px 0 12px 5px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: rgb(236, 233, 233);
    outline: none;
    transition: 0.3s;
    border-radius: 10px;
    text-align: center;
}
.form__input:focus{
    border-bottom: 1px solid #1a73a8;
}
.form__button{
    width: 100%;
    padding: 15px 0 15px 0;    
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: #0071f0;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}
.form__button:focus,
.form__button:hover{
background-color: rgba(0, 113, 240, 0.7);
}
